<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DetalApp.Properties.Settings.myconn" connectionString="Data Source=WSR-1\SQLEXPRESS;Initial Catalog=detalDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="detalDbEntities" connectionString="metadata=res://*/model.ModelDetal.csdl|res://*/model.ModelDetal.ssdl|res://*/model.ModelDetal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WSR-1\SQLEXPRESS;initial catalog=detalDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>